APP_ENV="development"
API_VERSION="1.0.0"

# DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cda"

## JWT CONFIG
# generate secret in terminal: openssl rand -hex 32
JWT_SECRET="2d3c19251a366f4fd1c4a1c51c40d66eb7e747a5d389650f0777846b07482eae"
JWT_EXPIRES_IN="1d"